# Database
DB_USER=adminuser
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433
DB_NAME=gophercon

# Payment mode:
#   ok               - success
#   card_declined    - card declined
#   processing_error - processing error
#   rate_limit       - rate limited
#   api_timeout      - api timeout
PAYMENT_MODE=ok

# Server
ADDR=:8080
