# Database
DB_USER=adminuser
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres

# Payment mode:
#   ok               - success
#   card_declined    - stripe: card declined
#   processing_error - stripe: processing error
#   rate_limit       - stripe: rate limited
#   api_timeout      - stripe: api timeout
PAYMENT_MODE=ok

# Server
ADDR=:8080
